.Signup {
    text-align: center;
  }
  
  .Signup-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Signup-logo {
      animation: Signup-logo-spin infinite 20s linear;
    }
  }
  
  .Signup-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #E05151;
  }
  
  .Signup-link {
    color: #61dafb;
  }
  
  @keyframes Signup-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /*
  body-color{
    background-color: #FA7C7C;
    color: #FA7C7C;
  }*/
  
  body {
    background-color: black;
  }
  
  .colorClass {
    background-color: #FA7C7C;
    color: white;
    height: auto;
    font-family: 'Acme', sans-serif;}
  
  .bigPadding{
    padding-top: 50px;
  }

  #paddingBottomInput {
    margin-bottom: 20px;
  }
