.app { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    color: white;
}

.app__video {
    display: flex;
    align-items: center;
}

.app__canvas {
    position: absolute;
    left: -1000px;
}

#camera {
    height: 200px;
    position: absolute;
    left: -1000px;
}

#video-frame {
    width: 1000px;
    height: 800px;
}

#next-button {
    position: fixed;
    top: 300px;
    right: 20px;

}

#score-on-the-side {
    position: fixed;
    top: 400px;
    right: 20px;
}

#challenge-result {
    position: fixed;
    top: 200px;
    left: 20px;
}